[submodule "testsweeper"]
	path = testsweeper
	url = https://bitbucket.org/icl/testsweeper
[submodule "blaspp"]
	path = blaspp
	url = https://bitbucket.org/icl/blaspp
[submodule "lapackpp"]
	path = lapackpp
	url = https://bitbucket.org/icl/lapackpp
