*.bak
*.d
*.mod
*.o
*.orig
*.pyc
*.svg
.DS_Store
.id
__pycache__
build*
docs/doxygen/errors.txt
docs/html/
files.txt
issues/
lib/*.a
lib/*.so
lib/pkgconfig/*.pc
make.inc
slate-*
test/tester
unit_test/test_norm
unit_test/test_geadd
unit_test/test_Tile_kernels
unit_test/test_TriangularMatrix
unit_test/test_HermitianMatrix
unit_test/run_tests.py
unit_test/test_geset
unit_test/test_Memory
unit_test/test_LockGuard
unit_test/test_lq
unit_test/test_SymmetricMatrix
unit_test/test_gecopy
unit_test/test_BandMatrix
unit_test/test_TrapezoidMatrix
unit_test/test_qr
unit_test/test_Matrix
unit_test/test_Tile
wiki/
