*.bak
*.d
*.mod
*.o
*.orig
*.pyc
*.svg
.DS_Store
.id
__pycache__
build*
docs/doxygen/errors.txt
docs/html/
files.txt
include/slate/c_api/matrix.h
include/slate/c_api/util.hh
include/slate/c_api/wrappers.h
issues/
lib/*.a
lib/*.so
lib/pkgconfig/*.pc
make.inc
src/c_api/matrix.cc
src/c_api/util.cc
src/c_api/wrappers_precisions.cc
src/cuda/*.md5
src/fortran/slate_module.f90
slate-*
test/tester
unit_test/run_tests.py
unit_test/test_norm
unit_test/test_func
unit_test/test_geadd
unit_test/test_gecopy
unit_test/test_gescale
unit_test/test_geset
unit_test/test_internal_blas
unit_test/test_Tile_kernels
unit_test/test_TriangularMatrix
unit_test/test_HermitianMatrix
unit_test/test_Memory
unit_test/test_LockGuard
unit_test/test_lq
unit_test/test_SymmetricMatrix
unit_test/test_BandMatrix
unit_test/test_TrapezoidMatrix
unit_test/test_qr
unit_test/test_Matrix
unit_test/test_Tile
unit_test/test_OmpSetMaxActiveLevels
unit_test/test_TriangularBandMatrix
unit_test/test_util
wiki/
